html,body {
    background: #EFF3F4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

:root {
    --primary-color: (#89cc87);
    --secondary-color: (#f5f5f5);
    --tertiary-color: (#2a4729);
}

.navbar-menu {
  color: #2a4729;
}

.navbar-item img {
    max-height: 5rem;
}

.navbar-menu, .navbar-item, .navbar, .navbar-brand, .hero-head {
    background-color: #f5f5f5;
}

.hero-body {
  background-image: url(../images/hero2.png);
  height: 500px;
  background-size: cover;
}

  .hero-body {
      background-color: #2a4729;
  }
  
  .hero-body .container {
    max-width: 100%;
  }
  .hero-body .title {
    color: #f5f5f5;
  }
  .hero-body .subtitle {
    color: #f5f5f5;
    padding-top: 2rem;
    line-height: 1.5;
  }

  .title span {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .features {
    padding: 5rem 0;
  }
  .box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  .card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #2a4729;
  }
  .card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
  }
  .card-content .content h4 {
    font-size: 16px;
    font-weight: 700;
  }
  .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
  }
  .intro {
    padding: 5rem 0;
    text-align: center;
  }
  .sandbox {
    padding: 5rem 0;
  }
  .tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
  }
  .is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
  }
  /*adds font awesome stars*/
  footer li:before {
    content: '\f1b2';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #2a4729;
  }